<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class ="container">
                <h1>Weclome {{user.first_name}} </h1> <a href="/addpage">Make a Wish</a><a href="logout">Logout</a>
                <h2>Your wish List</h2>
        
                </table>
                <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Items</th>
                            <th scope="col">Date added</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for i in key %}
                        <tr>
                            {% if i.user.id == request.session.loggedin %}
                            <td>{{i.title}}</td>
                            <td>{{i.created_at}}</td>
                            <td><a href='/edit/{{i.id}}'>Edit</a></td>
                            <td><a href='/delete/{{i.id}}'>Delete</a></td>
                        {% endif %}
                        {% endfor %}
                      </tr>
                        </tbody>
                      </table>
                <h1>Granted Wishes</h1>
                <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Wisher</th>
                            <th scope="col">Date added</th>
                          </tr>
                          
                        </thead>
                        <tbody>
                        {% for i in key %}
                          <tr>
                            <td>{{i.title}}</td>
                            <td>{{i.user.first_name}}</td>
                            <td>{{i.created_at}}</td>
                        {% endfor %}
                          </tr>
                        </tbody>
                      </table>
               
        
            </div>
    
</body>
</html>